////////////////////////////////////
// MIXINS
/* create flat rounded button */
@mixin buttonTraits{

	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

@mixin inputTraits{
	border: 0px solid #006;
    background: #fff;
	height: 28px;
}
/////////////////////////////////
// VARIABLES FOR MAPs
$topMargin: 90px;
$bottomMargin: 30px;
$leftMargin: 20px;

$darkBlue: #1b1e49;
$hotPink: #ff5771;

/////////////////////////////////////////
/* load the font face from local machine */
@font-face {
    font-family: gotham-book;
    src: url(fonts/Gotham-Book.otf);
}


body{
	background-color: $darkBlue;
	color: white;
	font-family: gotham-book;
	margin:0; padding:0; // full screen
}

input:focus{
    outline: 0;
}

///////////////////////////////////////
#title{
	font-size: 12px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

// #logo{
// 	width: 30px;
// 	left: 10px;
// 	top: 11px;
// 	position: absolute;
// }

#extraMarginTop{
	height: 13px;
	// background-color:red;
}

#extraMarginBottom{
	height: 8px;
	// background-color:red;
}


/* INPUT AND BUTTON AREAS */
#buttonArea{
	background-color: $darkBlue;
	padding: 0 0 0 $leftMargin;
}


/* inputs*/
#searchTerm{
	@include buttonTraits;
	@include inputTraits;
	width: 100px;
}

#inputAddress{
	@include buttonTraits;
	@include inputTraits;
    width: 400px;
}

/* buttons*/
#currentLoc{
	@include buttonTraits;
	background-color: $hotPink;
	color: white;
	height: 30px;
	cursor: pointer;
}

#currentLoc:hover{
	background-color: #dc3b54;
}


#searchButton{
	// @include buttonTraits;
	// background-color: $hotPink;
	// color: white;
	// height: 32px;

	position: absolute;
	height: 30px;
	cursor: pointer;
}

#searchButton:hover{
	// background-color: blue;
}

///////////////////////////////////////
/* map div for loading maps */ 
#map {
	position:absolute; 
	top: $topMargin; bottom: $bottomMargin; 
	width: 100%;
}

#infoBox{
	position: absolute;
	width: 230px;
	height: 260px;
	padding: 20px 20px;

	top: $topMargin + 20px;
	right: 20px;

	background: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 11px;
	line-height: 18px;
	border-radius: 3px;
}

.smallTitle{
	text-transform:uppercase;
	letter-spacing: 0.3em;
	font-size: 12px;
}

#heart{
	width: 18px;
	margin-left: auto;
}

#marker{
	width: 15px;
	margin-left: auto;
}

#bottomPart{

}
///////////////////////////////
#footer{
	font-size: 10px;
	position: absolute;
	left: $leftMargin;
	bottom: 7px;
}

