////////////////////////////////////
// MIXINS
/* create flat rounded button */
@mixin buttonTraits{

	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 10px;
	cursor: pointer;

	color: white;
	font-family: gotham-light;
}

@mixin whiteButtonTraits{
	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 10px;
	cursor: pointer;
	
	background-color: RGBA(255,255,255,0.3);
	color: white;
	font-family: gotham-light;

}

@mixin inputTraits{
	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 10px;

    background: #fff;
	height: 28px;
	
	font-family: gotham-light;
	font-size: 11px;
}

@mixin cornerRad{
	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 10px;
}
/////////////////////////////////
// VARIABLES FOR MAPs
$topMargin: 60px;
$bottomMargin: 30px;
$leftMargin: 20px;

$darkBlue: RGBA(27, 30, 73, 0.7);
$darkGray: rgba(0,0,0,0.6);
$hotPink: #ff5771;


/////////////////////////////////////////
/* load the font face from local machine */
@font-face {
    font-family: gotham-book;
    src: url(fonts/Gotham-Book.otf);
}

@font-face{
	font-family: gotham-light;
	src: url(fonts/Gotham-Light.otf);
}

@font-face{
	font-family: gotham-thin;
	src: url(fonts/Gotham-Thin.otf);
}


body{
	color: white;
	font-family: gotham-book;
	margin:0; padding:0; // full screen
}


input:focus{
    outline: 0;
}

a{
	&:link{
		color:#fff;
    	text-decoration:none;
	}
	&:hover{
		color:$hotPink;
	}
	&:visited{
		color:#fff;
    	text-decoration:none;
	}
	&:active{
		color:#fff;
		text-decoration:none;
	}
}


///////////////////////////////////////
////////////////////////////////////
/* INPUT AND BUTTON AREAS */
#buttonArea{
	position: absolute; /* so that it will be placed on to the top*/
	width: 300px;
	height: 100%;
	float: left;
	padding: $topMargin $leftMargin 0 $leftMargin;
	background-color: $darkBlue;
	// padding: 0 0 0 $leftMargin;
	// 
}

.title{
	font-size: 13px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.smallType{
	font-size: 11px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.description{
	font-size: 12px;
	font-family:gotham-light;
}

.caption{
	font-size: 11px;
}

.small_description{
	font-size: 10px;
	font-family: gotham-light;
	letter-spacing: 0.1em;
}

#footer{
	position: absolute;
	margin-left: $leftMargin;
	bottom: $leftMargin;
}

//////////////////////////////////
/* Margins */

.marginSpaceLarge{
	height: 70px;
}

.marginSpaceMedium{
	height: 50px;
}

.marginSpaceSmall{
	height: 30px;
}

.marginSpaceX_small{
	height: 10px;
}

//////////////////////////////////
/* inputs*/
#searchTerm{
	@include inputTraits;
	width: 100px;
}

#inputAddress{
	@include inputTraits;
    width: 250px;
}

#indication{
	font-family: Gotham-Light;
	font-size: 13px;
}

.bullet{
	font-size: 48px;
}

/* buttons*/

.tag{
	@include whiteButtonTraits;
	font-size: 13px;
	font-variant: small-caps;
	letter-spacing: 0.1em;

	&:hover{
		background-color: RGBA(255,255,255,0.4);
	}
}


#currentLoc{
	@include whiteButtonTraits;
	font-size: 13px;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	height: 30px;

	&:hover{
		background-color: RGBA(255,255,255,0.4);
	}
}



#searchButton{
	@include buttonTraits;
	width: 200px;
	height: 32px;

	background-color: $hotPink;
	color: white;
	font-family: gotham-book;
	letter-spacing: 0.2em;
	cursor: pointer;

	&:hover{
		background-color: darken($hotPink, 5%);
	}
}



///////////////////////////////////////
/* instruction pop up */
#covered{
	position:absolute; 
	top: 0;
	bottom: 0;
	width: 100%;

	background-color: rgba(0,0,0,0.8);
}

#instruction{
	@include cornerRad;

	position: absolute;

	width: 500px;
	height: 300px;
	padding: 30px 50px;
	top: $topMargin + 50px;

	right: 30%;

	background-color: rgba(255,255,255,0.8);
	color: $darkBlue;
}

#smallDescription{
	width: 460px;
}

#close,
#close a{
	position: absolute;
	top: 7px;
	right: 15px;

	font-family: gotham-thin;
	font-size: 34px;
	color: $darkBlue;

	&:hover{
		color: $hotPink;
	}
}

#caption a{
	font-family: gotham-book;
	color: $darkBlue;

	&:hover{
		color: $hotPink;
	}
}



#caption{
	font-size: 10px;
	letter-spacing: 0.05em;
	font-family: gotham-light;
}



///////////////////////////////////////
/* map div for loading maps */ 
#map {
	position:absolute; 
	top: 0;
	bottom: 0;
	width: 100%;
}

#infoBox{
	@include cornerRad;
	position: absolute;
	width: 230px;
	height: 300px;
	padding: 20px 20px;

	top: $topMargin + 20px;
	right: 20px;

	background: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 11px;
	line-height: 18px;
	
}

.smallTitle{
	text-transform:uppercase;
	letter-spacing: 0.3em;
	font-size: 12px;
}

#heart{
	width: 18px;
	margin-left: auto;
}

#marker{
	width: 15px;
	margin-left: auto;
}

#bottomPart{

}

