/* create flat rounded button */
/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-light;
  src: url(fonts/Gotham-Light.otf);
}
@font-face {
  font-family: gotham-thin;
  src: url(fonts/Gotham-Thin.otf);
}
body {
  color: white;
  font-family: gotham-book;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: 0;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ff5771;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: none;
}

/* INPUT AND BUTTON AREAS */
#buttonArea {
  position: absolute;
  /* so that it will be placed on to the top*/
  width: 300px;
  height: 100%;
  float: left;
  padding: 60px 20px 0 20px;
  background-color: RGBA(27, 30, 73, 0.7);
}

.title {
  font-size: 13px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.smallType {
  font-size: 11px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.description {
  font-size: 12px;
  font-family: gotham-light;
}

.caption {
  font-size: 11px;
}

.small_description {
  font-size: 10px;
  font-family: gotham-light;
  letter-spacing: 0.1em;
}

#footer {
  position: absolute;
  margin-left: 20px;
  bottom: 20px;
}

/* Margins */
.marginSpaceLarge {
  height: 70px;
}

.marginSpaceMedium {
  height: 50px;
}

.marginSpaceSmall {
  height: 30px;
}

.marginSpaceX_small {
  height: 10px;
}

/* inputs*/
#searchTerm {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  background: #fff;
  height: 28px;
  font-family: gotham-light;
  font-size: 11px;
  width: 100px;
}

#inputAddress {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  background: #fff;
  height: 28px;
  font-family: gotham-light;
  font-size: 11px;
  width: 250px;
}

#indication {
  font-family: Gotham-Light;
  font-size: 13px;
}

.bullet {
  font-size: 48px;
}

/* buttons*/
.tag {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: RGBA(255, 255, 255, 0.3);
  color: white;
  font-family: gotham-light;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
.tag:hover {
  background-color: RGBA(255, 255, 255, 0.4);
}

#currentLoc {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: RGBA(255, 255, 255, 0.3);
  color: white;
  font-family: gotham-light;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  height: 30px;
}
#currentLoc:hover {
  background-color: RGBA(255, 255, 255, 0.4);
}

#searchButton {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: gotham-light;
  width: 200px;
  height: 32px;
  background-color: #ff5771;
  color: white;
  font-family: gotham-book;
  letter-spacing: 0.2em;
  cursor: pointer;
}
#searchButton:hover {
  background-color: #ff3e5b;
}

/* instruction pop up */
#covered {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#instruction {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  position: absolute;
  width: 500px;
  height: 300px;
  padding: 30px 50px;
  top: 110px;
  right: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  color: RGBA(27, 30, 73, 0.7);
}

#smallDescription {
  width: 460px;
}

#close,
#close a {
  position: absolute;
  top: 7px;
  right: 15px;
  font-family: gotham-thin;
  font-size: 34px;
  color: RGBA(27, 30, 73, 0.7);
}
#close:hover,
#close a:hover {
  color: #ff5771;
}

#caption a {
  font-family: gotham-book;
  color: RGBA(27, 30, 73, 0.7);
}
#caption a:hover {
  color: #ff5771;
}

#caption {
  font-size: 10px;
  letter-spacing: 0.05em;
  font-family: gotham-light;
}

/* map div for loading maps */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#infoBox {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 10px;
  position: absolute;
  width: 230px;
  height: 300px;
  padding: 20px 20px;
  top: 80px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
}

.smallTitle {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
}

#heart {
  width: 18px;
  margin-left: auto;
}

#marker {
  width: 15px;
  margin-left: auto;
}
