/* create flat rounded button */
/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
body {
  font-family: gotham-book;
  margin: 0;
  padding: 0;
}

/* INPUT AND BUTTON AREAS */
#buttonArea {
  background-color: yellow;
}

/* inputs*/
#inputAddress {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #006;
  background: #caf6ee;
  width: 400px;
  height: 30px;
}

/* buttons*/
#currentLoc {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: green;
  color: white;
  height: 30px;
}

#currentLoc:hover {
  background-color: blue;
}

#searchButton {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 30px;
}

#searchButton:hover {
  background-color: blue;
}

/* map div for loading maps */
#map {
  position: absolute;
  top: 50px;
  bottom: 30px;
  width: 100%;
}
