/* create flat rounded button */
/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
body {
  background-color: #1b1e49;
  color: white;
  font-family: gotham-book;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: 0;
}

#title {
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

#extraMarginTop {
  height: 13px;
}

#extraMarginBottom {
  height: 8px;
}

/* INPUT AND BUTTON AREAS */
#buttonArea {
  background-color: #1b1e49;
  padding: 0 0 0 20px;
}

/* inputs*/
#searchTerm {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #006;
  background: #fff;
  height: 28px;
  width: 100px;
}

#inputAddress {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #006;
  background: #fff;
  height: 28px;
  width: 400px;
}

/* buttons*/
#currentLoc {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff5771;
  color: white;
  height: 30px;
  cursor: pointer;
}

#currentLoc:hover {
  background-color: #dc3b54;
}

#searchButton {
  position: absolute;
  height: 30px;
  cursor: pointer;
}

/* map div for loading maps */
#map {
  position: absolute;
  top: 90px;
  bottom: 30px;
  width: 100%;
}

#infoBox {
  position: absolute;
  width: 230px;
  height: 260px;
  padding: 20px 20px;
  top: 110px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
}

.smallTitle {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
}

#heart {
  width: 18px;
  margin-left: auto;
}

#marker {
  width: 15px;
  margin-left: auto;
}

#footer {
  font-size: 10px;
  position: absolute;
  left: 20px;
  bottom: 7px;
}
