<div id="map"></div>
 <!-- ////////////////// left column ///////////////////-->
<div id="buttonArea">
    <span class="title">
    I will suggest places
    <br>
    that no one likes</span>
    <br>
    <div class="marginSpaceX_small"></div>
    <br>
    <br>

    <span class="smallType">step 1</span><br>
    <span class="description">
    Type the item that you want to search for
    </span>
    <br>
    <br>
    <input type="text" id="searchTerm" placeholder="I'm Looking for...">
    <div class="marginSpaceX_small"></div>

    <!-- tags -->
    <button class="tag" id="coffee">coffee</button>
    <button class="tag" id="pudding">pudding</button>
    <button class="tag" id="cupcake">cupcake</button>
    <button class="tag" id="yogurt">yogurt</button>
    <button class="tag" id="bubble_tea">bubble tea</button>
    <button class="tag" id="dessert">dessert</button>
    <button class="tag" id="icecream">ice cream</button>
    <button class="tag" id="sandwich">sandwich</button>
    <button class="tag" id="noodle">noodle</button>

     <!-- ///////////////////////// -->
    <div class="marginSpaceMedium"></div>

    <span class="smallType">step 2</span><br>
    <span class="description">
    Choose starting point - <br>
    either using current location of browser 
    <br>
    or typing address manually.
    </span>

    <br>
    <br>

    <button id="currentLoc">use current location</button>
    <span class="description">or</span>
    <div class="marginSpaceX_small"></div>
    <input type="text" id="inputAddress" placeholder="address">
    <div class="marginSpaceMedium"></div>
    <button id="searchButton">SEARCH PLACE</button>

    <div class="marginSpaceMedium"></div>

    <!-- <span class="small_description">&#160;LIKE COUNTS</span> -->
    <br>

</div>
<!-- //////////// FOOTER ///////////// -->
<div id="footer">
    <span class="caption">
        <a href="https://github.com/Woonyung/misuseOfAPI" target="_blank">:)</a>
    </span>
</div>


<!-- ////////////////// info box///////////////////-->
<div id="infoBox">
    <div id="topPart">

    <span class="small_description">
        &#160;less&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;more
    </span>
    <div id="indication"></div>

    Hover on spots to see detail information <br>
    </div>
    <br>
    <div id="bottomPart"></div>
</div>


<!-- ////////////////// pop up///////////////////-->
<div id="covered"></div>
    <div id="instruction">
        <span class="title">I will suggest places<br> that no one likes</span>
        <span id="close"><a href="#">x</a></span>

        <div class="marginSpaceSmall"></div>
        <div id="smallDescription">
            <span class="description">
            This is a website that recommends places that no one likes.
            <br>This site helps you to find places using current location of browser or address that you typed and track specific places which is near to your area.</span>
            <br>
            <br>
            <br>
            <span class="description">
            Once you search, results will be shown as color coded dots.
            <br>
            This site does not suggest the places which have more than 50 like counts.
            </span>

            <div class="marginSpaceMedium"></div>
            <hr noshade size="1" color="gray"></hr>
            <span id="caption" >
                Made with love by 
                <a href="https://woonyungchoi.com" target="_blank">Woonyung</a>
                &#160;&#160;|&#160;&#160;
                Code can be seen in 
                <a href="https://github.com/Woonyung/misuseOfAPI" target="_blank">here</a>
            </span>

    </div>
</div>